@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Yeni Kategori Ekleme Sayfası</h1>

<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Açıklamayı yazınız")
        <br />
        @Html.TextAreaFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /><br />
        <button id="btn3" class="btn btn-danger">Kaydet</button>
    </div>
}
<script>
    $('#btn3').click(function () {
        swal("Tebrikler!", "Ekleme İşlemi Başarılı!", "success");

    })
</script>